*{
    margin: 0;
    padding: 0;
	
}

#im{
	text-decoration: none;
	color: #24262b;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* navbar top */
.navbar-top{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.social-link i img{
    margin-left: 10px;
    transition: 0.5s ease;
    cursor: pointer;
	color: #92121b;
}
.social-link i img:hover{
    background-color: rgba(238,224,208);
    border-radius: 50px;
}
.logo h3{
    color: #92121b;
}
@media screen and (max-width:420px){
    .social-link i img{
        width: 20px;
    }
}
.logo h3{
    font-weight: bold;
}
@media screen and (max-width:420px){
    .logo h3{
        font-size: 20px;
    }
}
.icons i img{
    margin-left: 10px;
    cursor: pointer;
}
@media screen and (max-width:420px){
    .icons i img{
        width: 20px;
    }
}
/* navbar top */

/* main content */
.main-content{
    width: 100%;
    height: 10vh;
    background-image: url(image);
    /* background-size: cover; */
    background-position: 70%;
}

/* navbar */


/************************foooter*********************/
/*footer*/
.cont{
	max-width: 1170px;
	margin-top:auto;
}
.rows{
	display: flex;
	flex-wrap: wrap;
}

.footer{
	background-color: #f3f3f3;
    padding: 30px 10px;
    margin-top: 60px;
    z-index: 1;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #92121b;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #9e121b;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(208, 126, 45, 0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #da0e0e;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
/* footer */
/*produit*/
.products .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.products .box-container .box{
  border:.1rem solid rgba(0,0,0,.1);
  border-radius: .5rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  background:#f9f9f9;
  flex:1 1 30rem;
}

.products .box-container .box .content{
  padding:1.5rem;
}

.products .box-container .box img{
  height:10rem;
  transform: rotate(-35deg);
  filter:drop-shadow(0 .5rem 1rem rgba(0,0,0,.1));
  margin:8rem 2rem;
}

.products .box-container .box:hover img{
  transform: rotate(-35deg) scale(1.2);
}

.products .box-container .box .icons{
  display: flex;
  flex-flow: column;
  position: absolute;
  top:.5rem; left:-10rem;
}

.products .box-container .box:hover .icons{
  left:1rem;
}

.products .box-container .box .icons a{
  height:4.5rem;
  width:5rem;
  line-height: 4.5rem;
  font-size: 2rem;
  color:var(--black);
  border:.1rem solid var(--black);
  border-radius: .5rem;
  background:#fff;
  margin-top: .5rem;
}

.products .box-container .box .icons a:hover{
  background:var(--orange);
  color:#fff;
}

.products .box-container .box .content h3{
  color:var(--black);
  font-size: 2.5rem;
}

.products .box-container .box .content .price{
  color:var(--black);
  font-size: 2.5rem;
  font-weight: bolder;
  padding:1rem 0;
}

.products .box-container .box .content .price span{
  color:var(--orange);
  font-size: 1.5rem;
  text-decoration: line-through;
}

.products .box-container .box .content .stars{
  padding-bottom: 1rem;
}

.products .box-container .box .content .stars i{
  font-size: 1.7rem;
  color:var(--orange);
}

/*******panier******/
.container{
  margin: auto;
  /* margin-top: 20px; */
  /* border: 3px solid black; */
}
.col-md-, .col-lg-4{
  margin-bottom: 20px;
}
.sty{
  font-size: 18px !important;
  color: black !important;
}
.num{
  width: 80px;
  height: 30px;
  border: 3px solid black;
  border-radius: 5px;
  font-size: 18px;
  padding: 5px;
}
.uk-border-circle{
  width: 100px !important;
  height: 100px !important;
}
.fa-cart-arrow-down{
  color: white;
  font-size: 50px;
  cursor: pointer;
  padding-left: 20px;
}
table{
  width: 100%;
}