*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
    
    
}

header{
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    
}
h1{
    font-size: 32px;
    text-decoration: none;
    font-weight: 700;
    color: black;
}
.navbar a{
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
    position: relative;
    color: black;
    
    
    
}

.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left:0;
    width: 0%;
    height: 2px;
    background:rgb(13, 13, 13);
    transition: .2s;
}
.navbar a:hover::before{
    width: 100%;
}